.container {
	display: flex;
	display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.box0 {
	width: 150px;
	border:1px solid #f00;
	margin-bottom: 20px;
}
.box1 {
	height: 120px;
}
.box2 {
	height: 100px;
}
.box3 {
	height: 40px;
}
.box4 {
	height: 200px;
	border:1px solid #0f0;
}
@media screen and (max-width:640px){
	.box4 {
		order: -1
	}
	.container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}